<app-preloader></app-preloader>
<app-header></app-header>

<router-outlet/>

<app-footer></app-footer>

<div class="dropdown fixed-bottom-left">
              <button class="btn dropdown-toggle custom-orange-btn" type="button" id="dropdownMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Download brochure
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="javascript:void(0)" (click)="openDownloadModal('Nutraceutical Product List', 'assets/brochures/Nutraceutical Product List_Melizza.pdf')">Nutraceutical Product List</a>
                <a class="dropdown-item" href="javascript:void(0)" (click)="openDownloadModal('Cosmetics Product', 'assets/brochures/Cosmetic Product.pdf')">Cosmetics Product</a>
                <a class="dropdown-item" href="javascript:void(0)" (click)="openDownloadModal('Medical Devices', 'assets/brochures/Medical Devices List_Melizza.pdf')">Medical Devices</a>
                <a class="dropdown-item" href="javascript:void(0)" (click)="openDownloadModal('Oncology Product Details', 'assets/brochures/Oncology Product Details.pdf')">Oncology Product Details</a>
                <a class="dropdown-item" href="javascript:void(0)" (click)="openDownloadModal('Oncology Product List', 'assets/brochures/Oncology Product List_Melizza.pdf')">Oncology Product List</a>
                <a class="dropdown-item" href="javascript:void(0)" (click)="openDownloadModal('OTC Product', 'assets/brochures/OTC Product_Melizza.pdf')">OTC Product</a>
                <a class="dropdown-item" href="javascript:void(0)" (click)="openDownloadModal('Pharmaceutical Product', 'assets/brochures/Pharmaceutical Product_Melizza.pdf')">Pharmaceutical Product</a>
                <a class="dropdown-item" href="javascript:void(0)" (click)="openDownloadModal('Surgical Product List', 'assets/brochures/Surgical Product List_Melizza.pdf')">Surgical Product List</a>
                <a class="dropdown-item" href="javascript:void(0)" (click)="openDownloadModal('Api Product List', 'assets/brochures/API_Product_List_Melizza-1.pdf')">Api Product List</a>
              </div>
            </div>

<!-- Download Modal -->
<app-download-modal 
  [isVisible]="showModal"
  [pdfName]="selectedPdf.name"
  [pdfPath]="selectedPdf.path"
  (closeModal)="closeModal()"
  (submitForm)="onFormSubmit($event)">
</app-download-modal>
