<!-- Start Feautes -->
<section class="Feautes section p-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title mb-0">
                    <h2>Products</h2>
                    <img src="assets/img/section-img.png" alt="#">
                </div>
            </div>
        </div>
        <div class="row">

            <!-- LEFT SIDE: PDF GRID -->
            <div class="col-lg-12 col-md-12 mb-4">
                <div class="catalog-grid">
                    <div class="catalog-card" (click)="openPDF('assets/brochures/Nutraceutical Product List_Melizza.pdf')">
                        <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" alt="PDF">
                        <p>Nutraceutical Product</p>
                    </div>

                    <div class="catalog-card" (click)="openPDF('assets/brochures/Cosmetic Product.pdf')">
                        <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" alt="PDF">
                        <p>Cosmetics Product</p>
                    </div>

                    <div class="catalog-card" (click)="openPDF('assets/brochures/Medical Devices List_Melizza.pdf')">
                        <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" alt="PDF">
                        <p>Medical Devices</p>
                    </div>

                    <div class="catalog-card" (click)="openPDF('assets/brochures/Oncology Product Details.pdf')">
                        <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" alt="PDF">
                        <p>Oncology Product Details</p>
                    </div>

                    <div class="catalog-card" (click)="openPDF('assets/brochures/Oncology Product List_Melizza.pdf')">
                        <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" alt="PDF">
                        <p>Oncology Product List</p>
                    </div>

                    <div class="catalog-card" (click)="openPDF('assets/brochures/Pharmaceutical Product_Melizza.pdf')">
                        <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" alt="PDF">
                        <p>Pharmaceutical Product</p>
                    </div>

                    <div class="catalog-card" (click)="openPDF('assets/brochures/Surgical Product List_Melizza.pdf')">
                        <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" alt="PDF">
                        <p>Surgical Product</p>
                    </div>

                    <div class="catalog-card" (click)="openPDF('assets/brochures/API_Product_List_Melizza-1.pdf')">
                        <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" alt="PDF">
                        <p>API Product List</p>
                    </div>

                    <div class="catalog-card" (click)="openPDF('assets/brochures/Cosmetics Range.pdf')">
                        <img src="https://cdn-icons-png.flaticon.com/512/337/337946.png" alt="PDF">
                        <p>Cosmetics Range</p>
                    </div>

                </div>
            </div>

            <!-- RIGHT SIDE: SIDEBAR -->
            <!-- <div class="col-lg-3 col-md-4">
                <div class="sidebar-box">
                    <h3>Products</h3>
                    <ul>
                        <li>Pharmaceutical Products</li>
                        <li>Medical Devices</li>
                        <li>Nutraceutical Products</li>
                        <li>Surgical Products</li>
                    </ul>
                </div>

                <div class="sidebar-box">
                    <h3>Contact Us</h3>
                    <p>Melizza Lifescience</p>
                    <p>Shed No 6, Plot No 1,<br> Rajkot, Gujarat, India</p>
                    <p><strong>Mobile:</strong> +91-9898855798</p>
                    <p><strong>Email:</strong> office&#64;melizzalifescience.com</p>

                </div>
            </div> -->

        </div>
        <!-- <div class="row">
            <div class="col-lg-12 col-12">
                <p class="ml-2 product-title">CARDIAC & DIABETIC PRODUCTS</p>
                <table class="table table-hover mt-2 product-table">
                    <thead>
                        <tr>
                            <th scope="col">Sr no.</th>
                            <th scope="col">Product List</th>
                            <th scope="col">Strength</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Amlodipine + Atenolol Tablet</td>
                            <td>5MG + 50 mg</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Atorvastatin Tablet</td>
                            <td>10 mg, 20 mg</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Glimepiride + Metformin (By Layer) Tablet</td>
                            <td>1mg + 500mg, 2mg + 500mg</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Glimepiride + Pioglitazone + Metformin (By Layer) Tablet</td>
                            <td>1mg + 15mg + 500mg, 2mg + 15mg + 500mg</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>PREGABALIN + NORTRIPTYLINE Tablet</td>
                            <td>75 mg + 10 mg</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Methylcobalamine + Pregabaline Cap. (In Drug)</td>
                            <td>750 Mcg + 75 Mg</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Rosuvastatin Tablet</td>
                            <td>10mg, 20MG</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Telmisartan Tablet</td>
                            <td>40mg</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Telmisartan + AMLODIPINE Tablet</td>
                            <td>40mg + 5mg</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Telmisartan₄₀ with Hydrochlorlithiazide Tablet</td>
                            <td>12.5 mg</td>
                        </tr>
                    </tbody>
                </table>

                <p class="ml-2 mt-2 product-title">ANTI MALARIAL</p>
                <table class="table table-hover mt-2 product-table">
                    <thead>
                        <tr>
                            <th scope="col">Sr no.</th>
                            <th scope="col">Product List</th>
                            <th scope="col">Strength</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Amlodipine + Atenolol Tablet</td>
                            <td>5MG + 50 mg</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->
    </div>
</section>
<!--/ End Feautes -->